<div class="container-fluid">
  <div class="row">
    <div class="top-image-bg">
      <div class="top-image">
        <p>”たとえる”チカラを、あなたに。</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="navi text-center">
    TsukkoMe（ツッコミー）は、”たとえ”の上達をお手伝いするWebアプリケーションです。
    <br>
    <br>
    <br>
    お題に対して例えツッコミという形で自分の例えを投稿したり、他のユーザーのツッコミを閲覧することで様々な”たとえ”に触れ合うことができます。
    <br>
    <br>
    <br>
    また、お題がランダムに表示される千本ノック機能では、次々と表示されるお題に対して例えツッコミを繰り返すことで、”たとえ”の定着を図ることができます。

    <!-- "たとえ"を巧みに使いこなす人たちは、自分が伝えたいことを聞き手にとって身近なものに例えることで、笑いを生み出したりわかりやすい話をしています。
    <br>
    <br>
    <br>
    この"たとえ"をうまく使いこなせるようになるためには、引き出しの数を増やすことと知識として定着させることが必要だと考え、TsukkoMeを開発しました。 -->
  </div>
</div>

<div class="container how-to-use">
  <div class="how-to-use-title text-center">
    つかいかた
  </div>
  <div class="row">
    <div class="step-contents col-10 offset-1">
      <div class="step-content">
        <div class="step-icon">
          <%= image_tag("select.png", class: "how-to-use-icon") %>
        </div>
        <div class="step-message">
          まずはお題一覧の中から、たとえてみたいお題を選びましょう。
        </div>
      </div>
      <div class="step-content">
        <div class="step-icon">
          <%= image_tag("tsukkomi.png", class: "how-to-use-icon") %>
        </div>
        <div class="step-message">
          お題に対してたとえツッコミをしてみましょう。
          たとえツッコミのコツは、ツッコミの新規投稿画面に記載しています。
        </div>
      </div>
      <div class="step-content">
        <div class="step-icon">
          <%= image_tag("batter.png", class: "how-to-use-icon") %>
        </div>
        <div class="step-message">
          ランダムにお題が表示される千本ノック機能を使ってたとえを定着させましょう。
        </div>
      </div>
    </div>
  </div>
</div>

<div class="function-wrapper text-center">
  <div class="function-label">
    主な機能
  </div>
  <div class="container">
    <div class="function-contents row">
      <div class="function-content function-col-sm-12 col-md-4">
        <i class="fas fa-hand-paper fa-rotate-225 top-icon"></i>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="function-message">
              <p class="text-center">ツッコミ機能</p>
              さまざまなお題に対して例えツッコむことができます。
            </div>
          </div>
        </div>
      </div>
      <div class="function-content function-col-sm-12 col-md-4">
        <i class="fas fa-grin-squint-tears top-icon"></i>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="function-message">
              <p class="text-center">ナイスツッコミ！機能</p>
              ツッコミにナイスツッコミ！ボタンを押すことで、お気に入りのツッコミを保存することができます。
              <br>
              保存したツッコミはマイページで確認することができます。
            </div>
          </div>
        </div>
      </div>
      <div class="function-content function-col-sm-12 col-md-4">
        <i class="fas fa-hand-rock top-icon"></i>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="function-message">
              <p class="text-center">千本ノック機能</p>
              画面上部の「きたえる」からは、お題がランダムにされる機能（千本ノック）を利用することができます。
              <br>
              次々と表示されるお題を例えていき、例えるチカラを向上させましょう！
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tsukkomi-example">
  <div class="tsukkomi-example-title text-center">
    最新のお題
  </div>
  <div class="container">
    <div class="situations-post">
      <% @situations.each do |situation| %>
      <div class="row">
        <div class="main-post col-8 offset-2">
          <% if situation.user.image.present? %>
            <%= link_to image_tag(situation.user.image.url, class:"small-icon-image"), user_path(situation.user) %>
          <% else %>
            <%= link_to image_tag("profile_icon.png", class: "small-icon-image"), user_path(situation.user) %>
          <% end %>
          <%= link_to situation.user.name, user_path(situation.user) %>
          <%= situation.created_at.strftime("%Y/%-m/%-d %-H:%M") %>
          <% if user_signed_in? %>
            <% if situation.user_id == current_user.id %>
            <div class="dropdown post-menu">
              <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-ellipsis-v"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="post-delete small-icon">
                  <i class="far fa-trash-alt"></i>
                  <%= link_to "削除する", situation_path(situation), method: :delete, data: { confirm: "本当に削除しますか？" } %>
                </li>
              </ul>
            </div>
            <% end %>
          <% end %>
          <div class="post-content text-center">
            <%= link_to situation.title, situation_path(situation) %>
          </div>
          <div class="post-icons">
            <i class="far fa-hand-paper fa-lg fa-rotate-225"></i>
            <%= image_tag("surprise_yellow.png", class: "logo-image") %>
            <%= situation.tsukkomis.count %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
