<% flash.each do |key,value| %>
  <% key = "success" if key == "notice" %>
  <% key = "danger" if key == "alert" %>
  <%= content_tag(:div, value, class: "alert alert-#{key} text-center") %>
<% end %>

<div class="top-wrapper">
  <p class="top-content text-center">お題一覧</p>
  <p class="top-content-under">お題を一つえらび、ツッコんでみましょう！</p>
</div>

<div class="top-button text-center">
  <%= link_to "お題を投稿する！", new_situation_path, class:"btn btn-warning" %>
</div>

<div class="container">
  <div class="situations-post">
    <% @situations.each do |situation| %>
    <div class="row">
      <div class="main-post col-8 offset-2">
        <% if situation.user.image.present? %>
          <%= link_to image_tag(situation.user.image.url, class:"small-icon-image"), user_path(situation.user) %>
        <% else %>
          <%= link_to image_tag("profile_icon.png", class: "small-icon-image"), user_path(situation.user) %>
        <% end %>
        <%= link_to situation.user.name, user_path(situation.user) %>
        <%= situation.created_at.strftime("%Y/%-m/%-d %-H:%M") %>
        <% if user_signed_in? %>
          <% if situation.user_id == current_user.id %>
          <div class="dropdown post-menu">
            <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-ellipsis-v"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li class="post-delete small-icon">
                <i class="far fa-trash-alt"></i>
                <%= link_to "削除する", situation_path(situation), method: :delete, data: { confirm: "本当に削除しますか？" } %>
              </li>
            </ul>
          </div>
          <% end %>
        <% end %>
        <div class="post-content text-center">
          <%= link_to situation.title, situation_path(situation) %>
        </div>
        <div class="post-icons">
          <i class="far fa-hand-paper fa-lg fa-rotate-225"></i>
          <%= image_tag("surprise_yellow.png", class: "logo-image") %>
          <%= situation.tsukkomis.count %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="pagination">
    <%= paginate @situations %>
  </div>
</div>
