<h2>シチュエーションを登録する</h2>
<%= form_with(model: @situation, local: true) do |f| %>
  <% if @situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @situation.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @situation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </div>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "<< シチュエーション一覧", situations_path %>
