<% flash.each do |key,value| %>
  <% key = "success" if key == "notice" %>
  <% key = "danger" if key == "alert" %>
  <%= content_tag(:div, value, class: "alert alert-#{key} text-center mb-0") %>
<% end %>

<div class="top-wrapper">
  <p class="top-content text-center"><%= @situation.title %></p>
  <div class="new-tsukkomi-button button-orange text-center">
    <%= link_to "このお題に例えツッコむ！", new_situation_tsukkomi_path(@situation.id), class:"btn btn-warning" %>
  </div>
</div>

<div class="tsukkomi-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="main-post col-10 offset-1 col-lg-8 offset-lg-2">
        <% if @situation.user.image.present? %>
          <%= link_to image_tag(@situation.user.image.url, class:"small-icon-image"), user_path(@situation.user) %>
        <% else %>
          <%= link_to image_tag("profile_icon.png", class: "small-icon-image"), user_path(@situation.user) %>
        <% end %>

        <%= link_to @situation.user.name, user_path(@situation.user) %>
        <%= @situation.created_at.strftime("%Y/%-m/%-d %-H:%M") %>
        <% if user_signed_in? %>
          <% if @situation.user_id == current_user.id %>
            <div class="dropdown post-menu">
              <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-ellipsis-v"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="post-delete small-icon">
                  <i class="far fa-trash-alt"></i>
                  <%= link_to "削除", situation_path(@situation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
        <div class="post-content text-center">
          <%= @situation.title %>
        </div>
        <div class="post-icons">
          <i class="far fa-hand-paper fa-lg fa-rotate-225"></i>
          <%= image_tag("surprise_yellow.png", class: "logo-image") %>
          <%= @situation.tsukkomis.count %>
        </div>
      </div>
    </div>

    <div class="search-clear col-lg-8 offset-lg-2 text-right">
      <%= link_to "検索ワードをクリア　", situation_path(@situation) %>
    </div>

    <div class="searched-wrapper">
      <div class="row">
        <div class="situation-detail-content col-4 offset-1 col-lg-3 offset-lg-2">
          みんなのツッコミ
        </div>
        <div class="search-form col-5 offset-2 col-lg-5 offset-lg-2">
          <%= search_form_for @search, url: search_situation_path(@situation) do |f| %>
            <%= f.search_field :phrase_cont, placeholder: "ツッコミをさがす" %>
            <%= f.submit '検索' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tsukkomis-post">
      <% @results.each do |tsukkomi| %>
      <div class="row">
        <div class="main-post col-10 offset-1 col-lg-8 offset-lg-2">
          <% if tsukkomi.user.image.present? %>
            <%= link_to image_tag(tsukkomi.user.image.url, class:"small-icon-image"), user_path(tsukkomi.user) %>
          <% else %>
            <%= link_to image_tag("profile_icon.png", class: "small-icon-image"), user_path(tsukkomi.user) %>
          <% end %>
          <%= link_to tsukkomi.user.name, user_path(tsukkomi.user) %>
          <%= tsukkomi.created_at.strftime("%Y/%-m/%-d %-H:%M") %>
          <% if user_signed_in? %>
            <% if tsukkomi.user_id == current_user.id %>
              <div class="dropdown post-menu">
                <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fas fa-ellipsis-v"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li class="post-edit">
                    <i class="far fa-edit small-icon"></i>
                    <%= link_to "編集", edit_situation_tsukkomi_path(@situation, tsukkomi) %>
                  </li>
                  <li class="post-delete">
                    <i class="far fa-trash-alt small-icon"></i>
                    <%= link_to "削除", situation_tsukkomi_path(@situation, tsukkomi), method: :delete, data: { confirm: "本当に削除しますか？" } %>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>
          <div class="post-content text-center">
            <%= link_to tsukkomi.phrase, situation_tsukkomi_path(@situation, tsukkomi.id) %>
          </div>
          <div class="post-icons">
            <% if user_signed_in? %>
              <% if tsukkomi.favorites.find_by(user_id: current_user.id).present? %>
                <i class="far fa-grin-squint-tears fa-lg squint-tears"></i>  <%= tsukkomi.favorites.count %>
              <% else %>
                <i class="far fa-grin-squint-tears fa-lg"></i>  <%= tsukkomi.favorites.count %>
              <% end %>
            <% else %>
              <i class="far fa-grin-squint-tears fa-lg"></i>  <%= tsukkomi.favorites.count %>
            <% end %>
            <i class="far fa-comment-dots fa-lg"></i>  <%= tsukkomi.comments.count %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- 検索結果後のページネーション -->
    <%= paginate @results %>
  </div>
</div>
