<p><%= notice %></p>
<h2>シチュエーション詳細</h2>
<p>投稿者：<%= link_to @situation.user.name, user_path(@situation.user) %></p>
<p><%= @situation.title %></p>

<% if user_signed_in? %>
  <% if @situation.user_id == current_user.id %>
    <p><%= link_to "削除", situation_path(@situation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
  <% end %>
<% end %>

<div>
  <%= link_to "<< シチュエーション一覧", situations_path %>
</div>
<br>
<h4>ツッコミ</h4>

<%= search_form_for @search, url: search_situation_path(@situation) do |f| %>
  <%= f.search_field :phrase_cont, placeholder: "キーワードを入力" %>
  <%= f.submit '検索' %>
<% end %>

<% if params[:q][:phrase_cont].present? %>
  <p>"<%= params[:q][:phrase_cont] %>"の検索結果（全<%= @results.count %>件）</p>
<% end %>

<% @results.each do |tsukkomi| %>
  <p><%= link_to tsukkomi.phrase, situation_tsukkomi_path(@situation, tsukkomi.id) %></p>
<% end %>
<div>
  <%= link_to "戻る", situation_path(@situation) %>
</div>
<br>
<%= link_to "ツッコミを作成する", new_situation_tsukkomi_path(@situation) %>
