<p><%= notice %></p>
<h2>シチュエーション詳細</h2>

<div>
  <%= link_to @situation.user.name, user_path(@situation.user) %>
  <%= @situation.created_at.strftime("%Y年%-m月%-d日") %>
  <% if user_signed_in? %>
    <% if @situation.user_id == current_user.id %>
      <%= link_to "削除", situation_path(@situation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
  <div >
    <%= @situation.title %>
  </div>

  <!-- todo："ツッコミ数は"アイコンに変更 -->
  ツッコミ数：<%= @situation.tsukkomis.count %>
</div>

<div>
  <%= link_to "<< シチュエーション一覧", situations_path %>
</div>

<!-- デザイン調整時、以下消してよし -->
<br>
<!-- ここまで -->
<b>ツッコミ</b>
<br>

<%= link_to "このシチュエーションにツッコむ！", new_situation_tsukkomi_path(@situation.id) %>

<%= search_form_for @search, url: search_situation_path(@situation) do |f| %>
  <%= f.search_field :phrase_cont, placeholder: "ツッコミをさがす" %>
  <%= f.submit '検索' %>
<% end %>

<!-- デザイン調整時、以下消してよし -->
<br>
<!-- ここまで -->

<div>
  <% @situations.each do |tsukkomi| %>
    <%= link_to tsukkomi.user.name, user_path(tsukkomi.user) %>
    <%= tsukkomi.created_at.strftime("%Y年%-m月%-d日") %>
    <% if user_signed_in? %>
      <% if tsukkomi.user_id == current_user.id %>
        <%= link_to "削除", situation_tsukkomi_path(@situation, tsukkomi), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      <% end %>
    <div class="">
      <%= link_to tsukkomi.phrase, situation_tsukkomi_path(@situation, tsukkomi.id) %>
    </div>

    <!-- todo：お気に入り、コメント数はアイコン -->
    <% if user_signed_in? %>
      <% if tsukkomi.favorites.find_by(user_id: current_user.id).present? %>
        <i class="far fa-grin-squint-tears fa-lg squint-tears"></i>  <%= tsukkomi.favorites.count %>
      <% else %>
        <i class="far fa-grin-squint-tears fa-lg"></i>  <%= tsukkomi.favorites.count %>
      <% end %>
    <% else %>
      <i class="far fa-grin-squint-tears fa-lg"></i>  <%= tsukkomi.favorites.count %>
    <% end %>
    <i class="far fa-comment-dots fa-lg"></i>  <%= tsukkomi.comments.count %>
    <br>
    <!-- デザイン調整時、以下消してよし -->
    <br>
    <!-- ここまで -->
  <% end %>
</div>
<%= paginate @situations %>
