<% comments.each do |comment| %>
  <div class="comment-main-post">
    <% if comment.id.present? %>
    <div>
      <% if comment.user.image.present? %>
        <%= link_to image_tag(comment.user.image.url, class:"very-small-icon-image"), user_path(comment.user) %>
      <% else %>
        <%= link_to image_tag("profile_icon.png", class: "very-small-icon-image"), user_path(comment.user) %>
      <% end %>
      <%= link_to comment.user.name, user_path(comment.user) %>
      <span class="posted-time"><%= comment.created_at.strftime("%Y/%-m/%-d %-H:%M") %></span>
      <% if user_signed_in? %>
        <% if comment.user_id == current_user.id %>
          <div class="dropdown post-menu">
            <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-ellipsis-v"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li class="post-edit">
                <i class="far fa-edit small-icon"></i>
                <%= link_to "編集", edit_situation_tsukkomi_comment_path(situation, tsukkomi, comment), remote: true %>
              </li>
              <li class="post-delete small-icon">
                <i class="far fa-trash-alt"></i>
                <%= link_to "削除", situation_tsukkomi_comment_path(comment.tsukkomi.situation_id, comment.tsukkomi, comment), method: :delete, remote: true, data: { confirm: "本当に削除しますか？" } %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="comment-content">
        <%= comment.content %>
      </div>
      <div class="comment-edit-form text-center">
        <div class="comment-content" id="this_comment_<%= comment.id %>"></div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
