<%= form_with(model: [@situation, @tsukkomi], local: true) do |f| %>
  <% if @tsukkomi.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tsukkomi.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @tsukkomi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
  </div>
  <%= f.submit %>
<% end %>
