<p id="notice"><%= notice %></p>

<h2><%= @tsukkomi.phrase %></h2>

<div>
  <%= link_to @tsukkomi.situation.user.name, user_path(@situation.user) %>
  <%= @tsukkomi.situation.created_at.strftime("%Y年%-m月%-d日") %>
  <% if user_signed_in? %>
    <% if @situation.user_id == current_user.id %>
      <%= link_to "削除", situation_path(@situation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
  <div>
    <%= link_to @tsukkomi.situation.title, situation_path(@tsukkomi.situation) %>
  </div>
  <!-- todo："ツッコミ数は"アイコンに変更 -->
  ツッコミ数：<%= @tsukkomi.situation.tsukkomis.count %>
</div>

<h3>ツッコミ詳細</h3>

<div>
  <%= link_to @tsukkomi.user.name, user_path(@tsukkomi.user) %>
  <%= @tsukkomi.created_at.strftime("%Y年%-m月%-d日") %>
  <% if user_signed_in? %>
    <% if @tsukkomi.user_id == current_user.id %>
      <%= link_to "編集", edit_situation_tsukkomi_path(@situation, @tsukkomi) %>
      <%= link_to "削除", situation_tsukkomi_path(@situation, @tsukkomi), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
  <br>
  <%= @tsukkomi.phrase %>
  <% if user_signed_in? %>
    <% if @favorite.present? %>
      <br>
      <%= link_to "お気に入り解除", favorite_path(@favorite), method: :delete %>
      <br>
    <% else %>
      <br>
      <%= link_to "お気に入り登録", favorites_path(tsukkomi_id: @tsukkomi.id), method: :create %>
      <br>
    <% end %>
  <% end %>
  お気に入り数：<%= @tsukkomi.favorites.count %>
  コメント数：<%= @tsukkomi.comments.count %>
</div>



<!-- <div>
  <%= link_to "<< シチュエーション詳細", situation_path(@situation) %>
</div> -->

<br>
<hr>
<p>コメント一覧</p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, tsukkomi: @tsukkomi, situation: @situation } %>
</div>
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, tsukkomi: @tsukkomi, situation: @situation } %>
<% end %>
<hr>
