<!DOCTYPE html>
<html>
  <head>
    <title>TsukkoMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header row">
          <div class="header_logo col-4">
            <%= link_to "TsukkoMe", situations_path %>
          </div>
          <div class="header_right col-8 text-right">
            <%= link_to "ツッコミをみる", situations_path %>
            <%= link_to "ツッコミをきたえる", thousand_fungo_situations_path %>
            <% if user_signed_in? %>
              <%= link_to "マイページ", user_path(current_user) %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="footer_logo">
          <%= link_to "TsukkoMe", situations_path %>
        </div>
      </div>
    </footer>
  </body>
</html>
